@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  margin: 0;
  font-family: var(--font-geist-sans); /* ใช้ฟอนต์ที่เราตั้งค่าไว้ */
  background: linear-gradient(120deg, #6EDA78, #FFA200);
  background-attachment: fixed; /* ทำให้ Gradient ไม่เลื่อนตามการ scroll */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
